@using Domain.Entities
@using Domain.Enums
@using Newtonsoft.Json
@model restaurant_web_app.ViewModels.BookingViewModel

@{
    ViewData["Title"] = "Add New Booking";
}

@section Scripts{

    <script src="~/js/admin/add_booking.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            var partySizeArray = @Html.Raw(JsonConvert.SerializeObject(Model.PartySize));
            var disabledDatesArray = @Html.Raw(JsonConvert.SerializeObject(Model.DisabledDates));
            var bookingStatusArray = @Html.Raw(JsonConvert.SerializeObject(Model.BookingStatus));
            var getAvailableSchedulingUrl = "@Html.Raw(@Url.Action("GetAvailableSchedulesBooking", "Admin"))";

            buildForm(partySizeArray, disabledDatesArray, bookingStatusArray, getAvailableSchedulingUrl);
        });
    </script>
}

<div class="d-flex justify-content-between flex-wrap flex-md-nowrap mb-3 pb-2 mb-3 border-bottom">
    <h1 class="h2">@ViewData["Title"]</h1>
</div>

<div class="row">
    <div class="col-6">
        <form method="post" action="@Url.Action("AddBooking", "Admin")">
            <div id="mainForm"></div>
        </form>
    </div>
</div>