@using Application.BookingOptions.Queries
@using Domain.Entities
@model restaurant_web_app.ViewModels.BookingOptionsViewModel
@{
    ViewData["Title"] = "Booking Options";
}


<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
    <h1 class="h2">@ViewData["Title"]</h1>
</div>



<div class="container">
    <form>
        <div class="form-group">
            @Html.LabelFor(m => m.BookingOptions.MinPartySize)
            @Html.DropDownListFor(m => m.BookingOptions.MinPartySize,
                Model.SelectListMinPartySizeOptions, "", new { @class = "form-control" })
        </div>

        <div class="form-group">
            @Html.LabelFor(m => m.BookingOptions.MaxPartySize)
            @Html.DropDownListFor(m => m.BookingOptions.MaxPartySize,
                Model.SelectListMaxPartySizeOptions, "", new { @class = "form-control" })
        </div>

        <div class="form-group">
            @Html.LabelFor(m => m.BookingOptions.EarlyBooking)
            @Html.DropDownListFor(m => m.BookingOptions.EarlyBooking,
                Model.SelectListEarlyBookingOptions, "", new { @class = "form-control" })
        </div>
        
        <div class="form-group">
            @Html.LabelFor(m => m.BookingOptions.LateBooking)
            @Html.DropDownListFor(m => m.BookingOptions.LateBooking,
                Model.SelectListLateBookingOptions, "", new { @class = "form-control" })
        </div>
        
        <div class="btn">
            <button type="submit" class="btn btn-primary">Save</button>
        </div>
        
    </form>

</div>