@using Domain.Entities
@using Domain.Enums
@using restaurant_web_app.Enums
@model Application.Booking.Queries.GetBookingsVm

@{
    ViewData["Title"] = "Restaurant Bookings";
}

<style>
    .table-title {
        padding-bottom: 10px;
        margin: 0 0 10px;
    }
</style>

<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
    <h1 class="h2">@ViewData["Title"]</h1>
    <div class="btn-toolbar mb-2 mb-md-0">
        <div class="btn-group mr-2">
            <button class="btn btn-sm btn-outline-secondary">Share</button>
            <button class="btn btn-sm btn-outline-secondary">Export</button>
        </div>
        <button class="btn btn-sm btn-outline-secondary dropdown-toggle">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-calendar"><rect x="3" y="4" width="18" height="18" rx="2" ry="2"></rect><line x1="16" y1="2" x2="16" y2="6"></line><line x1="8" y1="2" x2="8" y2="6"></line><line x1="3" y1="10" x2="21" y2="10"></line></svg>
            This week
        </button>
    </div>
</div>

@if (Model.AlertData.ShowAlert)
{
<div class="alert @(Model.AlertData.CssClass) alert-dismissible fade show" role="alert">
    <strong>@(Model.AlertData.Tittle)</strong> @(Model.AlertData.Description)
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
}


<div class ="table-title">
    <div class="row">
        <div class="col-sm-10"><h2>Booking <b>Details</b>
        </h2></div>
        <div class="col-sm-2 text-end">
            <a class="btn btn-primary "
               href="@Url.Action("AddBooking", "Admin")">
                <i class="fas fa-plus"></i>
                Add New
            </a>
        </div>
    </div>
</div>

<div class="table-title">
    <div class="row">
        <div class="col-sm-8">
            
        </div>
        <div class="col-sm-4 text-end">
            @Html.ActionLink(
                linkText: "All",
                actionName: "Index",
                controllerName: "Admin",
                routeValues: new
                {
                    action = ActionType.Info,
                    applyFilter = false
                })
            @Html.ActionLink(
                linkText: "Pending",
                actionName: "Index",
                controllerName: "Admin",
                routeValues: new
                     {
                    status = BookingStatus.Pending,
                         action = ActionType.Info,
                    applyFilter = true
                })
            @Html.ActionLink(
                linkText: "Confirmed",
                actionName: "Index",
                controllerName: "Admin",
                routeValues: new
                {
                    status = BookingStatus.Confirmed,
                    action = ActionType.Info,
                    applyFilter = true
                })
            @Html.ActionLink(
                linkText: "Closed",
                actionName: "Index",
                controllerName: "Admin",
                routeValues: new
                {
                    status = BookingStatus.Closed,
                    applyFilter = true
                })            
            @Html.ActionLink(
                linkText: "Arrived",
                actionName: "Index",
                controllerName: "Admin",
                routeValues: new
                {
                    status = BookingStatus.Arrived,
                    action = ActionType.Info,
                    applyFilter = true
                })
        </div>
    </div>
</div>

<div class="table-responsive">
   
    <table class="table table-striped table-sm">
        <thead>
            <tr>
                <th>#</th>
                <th>Name</th>
                <th>PartySize</th>
                <th>Email</th>
                <th>Date</th>
                <th>Phone</th>
                <th>Status</th>
                <th>Details</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            @foreach (BookingItem item in Model.BookingList)
            {
                <tr>
                    <td>@item.Id</td>
                    <td>@item.Name</td>
                    <td>@item.PartySize</td>
                    <td>@item.Email</td>
                    <td>@item.Date</td>
                    <td>@item.Phone</td>
                    <td>@item.Status</td>
                    <td>@item.Details</td>
                    <td>
                        <a class="btn btn-sm"
                           href="@Url.Action("BookingDetail", "Admin", new {id = item.Id})">
                            <i class="fas fa-info-circle"></i>
                        </a>
                        <a class="btn btn-sm"
                           href="@Url.Action("BookingEdit", "Admin", new {id = item.Id})">
                            <i class="far fa-edit"></i></a>
                        <a class="btn btn-sm"
                           href="@Url.Action("DeleteBooking", "Admin", new {id = item.Id})">
                            <i class="fas fa-trash-alt"></i></a>
                    </td>

                </tr>
            }

        </tbody>
        <tfoot>
        <tr>
            <td> <b>@Model.ItemCount Items</b>  </td>
        </tr>
        </tfoot>
    </table>
</div>