<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>shangrila Restaurant Html5 Template | Homepage</title>
    <!-- Stylesheets -->
    <link href="/css/bootstrap.css" rel="stylesheet">
    <link href="/plugins/revolution/css/settings.css" rel="stylesheet" type="text/css"><!-- REVOLUTION SETTINGS STYLES -->
    <link href="/plugins/revolution/css/layers.css" rel="stylesheet" type="text/css"><!-- REVOLUTION LAYERS STYLES -->
    <link href="/plugins/revolution/css/navigation.css" rel="stylesheet" type="text/css"><!-- REVOLUTION NAVIGATION STYLES -->
    <link href="/css/style.css" rel="stylesheet">
    <link href="/css/responsive.css" rel="stylesheet">
    <!--Color Switcher Mockup-->
    <link href="/css/color-switcher-design.css" rel="stylesheet">

    <!--Color Themes-->
    <link id="theme-color-file" href="/css/color-themes/hotpink-color.css" rel="stylesheet">

    <!--Favicon-->
    <link rel="shortcut icon" href="/images/favicon.png" type="image/x-icon">
    <link rel="icon" href="/images/favicon.png" type="image/x-icon">
    <!-- Responsive -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <!--[if lt IE 9]><script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.js"></script><![endif]-->
    <!--[if lt IE 9]><script src="js/respond.js"></script><![endif]-->
</head>

<body>


    <div class="page-wrapper">

        <!-- Preloader -->
        <div class="preloader"></div>

        <!-- Main Header-->
        <header class="main-header">

            <!--Header Top-->
            <div class="header-top">
                <div class="auto-container">
                    <div class="top-inner">
                        <div class="clearfix">
                            <div class="top-left">
                                <ul class="clearfix">
                                    <li><span class="fa fa-phone"></span>00-000-0000</li>
                                    <li><span class="fa fa-phone"></span>99-999-9999</li>
                                    <li class="email"><a href="#"><span class="icon fa fa-envelope-o"></span>helpteam@shangrila.com</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!--Header-Upper-->
            <div class="header-upper">
                <div class="auto-container clearfix">

                    <div class="pull-left logo-outer">
                        <div class="logo"><a href="index.html"><img src="/images/logo.png" alt="" title=""></a></div>
                    </div>

                    <div class="pull-right upper-right clearfix">

                        <div class="nav-outer clearfix">
                            <!-- Main Menu -->
                            <nav class="main-menu navbar-expand-md">
                                <div class="navbar-header">
                                    <!-- Toggle Button -->
                                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                                        <span class="icon-bar"></span>
                                        <span class="icon-bar"></span>
                                        <span class="icon-bar"></span>
                                    </button>
                                </div>

                                <div class="navbar-collapse collapse clearfix" id="navbarSupportedContent">
                                    <ul class="navigation clearfix">
                                        <li><a href="@Url.Action("Home")">Home</a></li>
                                        <li><a href="@Url.Action("About")">About</a></li>
                                        <li><a href="@Url.Action("Menu")">Menu</a></li>
                                        <li><a href="contact.html">Voucher</a></li>
                                        <li><a href="@Url.Action("Contact")">Contact</a></li>
                                    </ul>
                                </div>
                            </nav>

                            <!-- Main Menu End-->
                            <div class="outer-box">
                                <!--Search Box-->
                                <div class="search-box-outer">
                                    <div class="dropdown">
                                        <button class="search-box-btn dropdown-toggle" type="button" id="dropdownMenu3" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><span class="fa fa-search"></span></button>
                                        <ul class="dropdown-menu pull-right search-panel" aria-labelledby="dropdownMenu3">
                                            <li class="panel-outer">
                                                <div class="form-container">
                                                    <form method="post" action="blog.html">
                                                        <div class="form-group">
                                                            <input type="search" name="field-name" value="" placeholder="Search Here" required>
                                                            <button type="submit" class="search-btn"><span class="fa fa-search"></span></button>
                                                        </div>
                                                    </form>
                                                </div>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="reservation-form-btn"><span class="icon flaticon-menu-options"></span></div>
                            </div>
                        </div>

                    </div>

                </div>
            </div>
            <!--End Header Upper-->
            <!--Sticky Header-->
            <div class="sticky-header">
                <div class="auto-container clearfix">
                    <!--Logo-->
                    <div class="logo pull-left">
                        <a href="index.html" class="img-responsive"><img src="/images/logo-small.png" alt="" title=""></a>
                    </div>

                    <!--Right Col-->
                    <div class="right-col pull-right">
                        <!-- Main Menu -->
                        <nav class="main-menu navbar-expand-md">
                            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent1" aria-controls="navbarSupportedContent1" aria-expanded="false" aria-label="Toggle navigation">
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                            </button>

                            <div class="navbar-collapse collapse clearfix" id="navbarSupportedContent1">
                                <ul class="navigation clearfix">
                                    <li><a href="@Url.Action("Home")">Home</a></li>
                                    <li><a href="@Url.Action("About")">About</a></li>
                                    <li><a href="@Url.Action("Menu")">Menu</a></li>
                                    <li><a href="contact.html">Voucher</a></li>
                                    <li><a href="@Url.Action("Contact")">Contact</a></li>
                                </ul>
                            </div>
                        </nav><!-- Main Menu End-->
                    </div>

                </div>
            </div>
            <!--End Sticky Header-->

        </header>
        <!--End Main Header -->
        <!--Form Back Drop-->
        <div class="form-back-drop"></div>
        <!--Consulting Form-->
        <section class="consulting-form">
            <div class="inner-box">
                <div class="cross-icon"><span class="flaticon-cancel-1"></span></div>
                <div class="logo">
                    <a href="#"><img src="images/logo.png" alt="" /></a>
                </div>
                <div class="title">
                    <h2>Free Consultation</h2>
                    <div class="separator"></div>
                </div>

                <!--Consult Form-->
                <div class="consult-form">
                    <form method="post" action="contact.html">

                        <div class="form-group">
                            <input type="text" name="text" value="" placeholder="Your Name" required>
                        </div>
                        <div class="form-group">
                            <input type="email" name="email" value="" placeholder="Email Address" required>
                        </div>
                        <div class="form-group">
                            <textarea placeholder="Your Message"></textarea>
                        </div>
                        <div class="form-group">
                            <button type="submit" class="theme-btn btn-style-one">Submit</button>
                        </div>

                    </form>
                </div>



            </div>
        </section>
        <!--End Consulting Form-->
        <!--Main Slider-->
        @RenderBody()

        <!--Main Footer-->
        <footer class="main-footer">
            <div class="auto-container">
                <!--Widgets Section-->
                <div class="widgets-section">
                    <div class="row clearfix">

                        <!--big column-->
                        <div class="big-column col-lg-6 col-md-12 col-sm-12">
                            <div class="row clearfix">

                                <!--Footer Column-->
                                <div class="footer-column col-lg-6 col-md-6 col-sm-12">
                                    <div class="footer-widget link-widget">
                                        <div class="footer-title">
                                            <h2>Usefull Links</h2>
                                            <div class="separator"></div>
                                        </div>
                                        <ul class="list-links">
                                            <li><a href="#">shangrila Overview</a></li>
                                            <li><a href="#">How to Buy Online</a></li>
                                            <li><a href="#">Payment Options</a></li>
                                            <li><a href="#">Legal & security</a></li>
                                            <li><a href="#">Refund Policy</a></li>
                                            <li><a href="#">Contact Center</a></li>
                                        </ul>
                                    </div>
                                </div>

                                <!--Footer Column-->
                                <div class="footer-column col-lg-6 col-md-6 col-sm-12">
                                    <div class="footer-widget link-widget">
                                        <div class="footer-title">
                                            <h2>Our Services</h2>
                                            <div class="separator"></div>
                                        </div>
                                        <ul class="list-links">
                                            <li><a href="#">Transaction</a></li>
                                            <li><a href="#">Exchange</a></li>
                                            <li><a href="#">Investments</a></li>
                                            <li><a href="#">Shopping</a></li>
                                            <li><a href="#">Escrow Service</a></li>
                                            <li><a href="#">Fantales</a></li>
                                        </ul>
                                    </div>
                                </div>

                            </div>
                        </div>

                        <!--big column-->
                        <div class="big-column col-lg-6 col-md-12 col-sm-12">
                            <div class="row clearfix">

                                <!--Footer Column-->
                                <div class="footer-column col-lg-6 col-md-6 col-sm-12">
                                    <div class="footer-widget info-widget">
                                        <div class="footer-title">
                                            <h2>Get In Touch</h2>
                                            <div class="separator"></div>
                                        </div>
                                        <ul class="info-list">
                                            <li><span>Email:</span>Supportteam@shangrila.com</li>
                                            <li><span>Phone:</span>Tollfree: 888-7010-7010</li>
                                            <li><span>Address:</span>203, Envato Labs, Behind Alis Str, <br> Melbourne, Australia.</li>
                                        </ul>
                                    </div>
                                </div>

                                <!--Footer Column-->
                                <div class="footer-column col-lg-6 col-md-6 col-sm-12">
                                    <div class="footer-widget info-widget">
                                        <div class="footer-title">
                                            <h2>We Are Social</h2>
                                            <div class="separator"></div>
                                        </div>
                                        <ul class="social-links">
                                            <li><a href="#"><span class="fa fa-facebook"></span> Facebook</a></li>
                                            <li><a href="#"><span class="fa fa-twitter"></span> Twitter</a></li>
                                            <li><a href="#"><span class="fa fa-linkedin"></span> Linkedin</a></li>
                                            <li><a href="#"><span class="fa fa-pinterest-p"></span> Pinterest</a></li>
                                            <li><a href="#"><span class="fa fa-rss"></span> RSS Feed</a></li>
                                        </ul>
                                    </div>
                                </div>

                            </div>
                        </div>

                    </div>
                </div>

                <!--Footer Nav Links-->
                <div class="footer-nav-links">
                    <ul class="footer-nav">
                        <li><a href="#">Home</a></li>
                        <li><a href="#">About Us</a></li>
                        <li><a href="#">Menu</a></li>
                        <li><a href="how-it-works.html">Voucher</a></li>
                        <li><a href="#">Contact</a></li>
                    </ul>
                </div>

            </div>
            <!--Footer Bottom-->
            <div class="footer-bottom">
                <div class="auto-container">
                    <div class="row clearfix">
                        <div class="col-lg-6 col-md-12 col-sm-12">
                            <div class="copyright">Copyrights &copy; 2018 All Rights Reserved by <a href="#">shangrila</a></div>
                        </div>
                        <div class="cards-column col-lg-6 col-md-12 col-sm-12">
                            <div class="cards">
                                <img src="images/resource/cards.png" alt="" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </footer>

    </div>
    <!--End pagewrapper-->
    <!--Scroll to top-->
    <div class="scroll-to-top scroll-to-target" data-target="html"><span class="icon fa fa-angle-double-up"></span></div>

    <script src="/js/jquery.js"></script>
    <script src="/js/popper.min.js"></script>
    <!--Revolution Slider-->
    <script src="/plugins/revolution/js/jquery.themepunch.revolution.min.js"></script>
    <script src="/plugins/revolution/js/jquery.themepunch.tools.min.js"></script>
    <script src="/plugins/revolution/js/extensions/revolution.extension.actions.min.js"></script>
    <script src="/plugins/revolution/js/extensions/revolution.extension.carousel.min.js"></script>
    <script src="/plugins/revolution/js/extensions/revolution.extension.kenburn.min.js"></script>
    <script src="/plugins/revolution/js/extensions/revolution.extension.layeranimation.min.js"></script>
    <script src="/plugins/revolution/js/extensions/revolution.extension.migration.min.js"></script>
    <script src="/plugins/revolution/js/extensions/revolution.extension.navigation.min.js"></script>
    <script src="/plugins/revolution/js/extensions/revolution.extension.parallax.min.js"></script>
    <script src="/plugins/revolution/js/extensions/revolution.extension.slideanims.min.js"></script>
    <script src="/plugins/revolution/js/extensions/revolution.extension.video.min.js"></script>
    <script src="/js/main-slider-script.js"></script>

    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/jquery.fancybox.js"></script>
    <script src="/js/jquery-ui.js"></script>
    <script src="/js/owl.js"></script>
    <script src="/js/widget.js"></script>
    <script src="/js/appear.js"></script>
    <script src="/js/wow.js"></script>
    <script src="/js/validate.js"></script>
    <script src="/js/script.js"></script>


    <script>
        $(document).ready(function () {
            //document.addEventListener('DOMContentLoaded', () => {
            //    //document.querySelectorAll('.nav-link').forEach(link => {

            //})
            document.querySelectorAll("#navbarSupportedContent > ul > li").forEach((e, index) => {
                window.navFlag = false;
                $(e).find('a').each(function (index, value) {
                    if (value.getAttribute('href').toLowerCase() === location.pathname.toLowerCase()) {
                        window.navFlag = true;
                    }
                });

                if (window.navFlag || (location.pathname.toLowerCase() === "/" && index === 0)) {
                    e.classList.add('current');
                } else {
                    e.classList.remove('current');
                }
            });
        });
    </script>
</body>
</html>